<h2 id="title">Examples</h2>

<h4>Input-Mask</h4>
{{input-mask mask="AAAA" greedyMask=true}}

<h4>Email Input</h4>
{{email-input value=testValue}}


<h4>Phone Number Input</h4>
{{phone-number-input unmaskedValue=numberValue extensions=true}}

<h4>Zip Code Input</h4>
{{zip-code-input}}

<h4>Currency Input</h4>
{{currency-input}}

<h4>Date Input</h4>
{{date-input}}

<h4>Credit Card Input</h4>
{{credit-card-input value=blah cardType=cardTypeValue}} {{cardTypeValue}}

{{blah}}

{{blahh}}

{{outlet}}


{{input-mask mask="9-9+9"}}
